# VITE_web_check_url=
# DEV=
# VITE_subdomains_websocket_url=
# VITE_endpoints_REST_url=
# VITE_whois=

# DEV=http://localhost:3000/api

# VITE_subdomains_websocket_url=ws://localhost:8000/ws/enumerate
# VITE_openPorts_REST_url=http://localhost:9000/scan
# VITE_endpoints_REST_url=http://localhost:8001/fuzz
# VITE_web_check_url=https://web-check-coral-eight.vercel.app/api

# VITE_DEV_whois=http://localhost:3000
# VITE_whois=https://whois-eta.vercel.app